p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  font-size: 35px;
}

.order {
  margin-top: 10px;
}

.special {
  text-decoration: underline;
}